<% provide(:title, 'Bulk Update Form Confirmation') %>

<h1>User Bulk Update Confirmation</h1>
<div>
  <%= form_with(model: @form, url: users_bulk_update_path, method: :put) do |f| %>
    <table>
      <thead>
        <tr>
          <th>CreatedAt</th>
          <th>Name</th>
          <th>Age</th>
          <th>IsActive</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :users do |user| %>
          <tr>
            <td><%= user.object.created_at.strftime("%F %T") %></td>
            <td><%= user.object.name %></td>
            <td><%= user.object.age %></td>
            <td><%= user.object.is_active %></td>
          </tr>
          <%= user.hidden_field :is_active, value: user.object.is_active %>
        <% end %>
      </tbody>
    </table>
    <p>Are you all right to update?</p>
    <%= f.submit 'Update' %>
  <% end %>
</div>